# WEB SCRAPING

In [4]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'

In [5]:
pd.read_html(url)

[    Rank                   Country  Companies
 0      1  United States of America         20
 1      2                     China         13
 2      3                   Germany          4
 3      4            United Kingdom          2
 4      4               Switzerland          2
 5      4                     Japan          2
 6      7               Netherlands          1
 7      7               South Korea          1
 8      7                    France          1
 9      7                    Russia          1
 10     7              Saudi Arabia          1
 11     7                 Singapore          1
 12     7                    Taiwan          1,
    Rank                                     Name                Industry  \
    Rank                                     Name                Industry
 0     1                                  Walmart                  Retail
 1     2                             Saudi Aramco             Oil and gas
 2     3          State Grid Corporation of China             Electricity
 3     4                                   Amazon                  Retail
 4     5                                    Vitol             Commodities
 5     6     China National Petroleum Corporation             Oil and gas
 6     7          China Petrochemical Corporation             Oil and gas
 7     8                               ExxonMobil             Oil and gas
 8     9                                    Apple             Electronics
 9    10                                    Shell             Oil and gas
 10   11                       UnitedHealth Group              Healthcare
 11   12                               CVS Health              Healthcare
 12   13                                Trafigura             Commodities
 13   14     China State Construction Engineering            Construction
 14   15                       Berkshire Hathaway              Financials
 15   16                         Volkswagen Group              Automotive
 16   17                                   Uniper             Electricity
 17   18                                 Alphabet  Information technology
 18   19                                 McKesson              Healthcare
 19   20                                   Toyota              Automotive
 20   21                            TotalEnergies             Oil and gas
 21   22                                 Glencore             Commodities
 22   23                                       BP             Oil and gas
 23   24                                  Chevron             Oil and gas
 24   25                        AmerisourceBergen              Healthcare
 25   26                      Samsung Electronics             Electronics
 26   27                                   Costco                  Retail
 27   28                                  Foxconn             Electronics
 28   29  Industrial and Commercial Bank of China              Financials
 29   30                                Microsoft  Information technology
 30   31                  China Construction Bank              Financials
 31   32                               Stellantis              Automotive
 32   33               Agricultural Bank of China              Financials
 33   34                        Ping An Insurance              Financials
 34   35                          Cardinal Health              Healthcare
 35   36                                    Cigna              Healthcare
 36   37                       Marathon Petroleum             Oil and gas
 37   38                              Phillips 66             Oil and gas
 38   39                                 Sinochem               Chemicals
 39   40    China Railway Engineering Corporation            Construction
 40   41                            Valero Energy             Oil and gas
 41   42                                  Gazprom             Oil and gas
 42   43                                  Cargill            Conglomerate
 43   44  China National Offshore Oil Corporation             Oil and gas
 44   45   China Railway Construction Corporation            Construction
 45   46                                    Baowu                   Steel
 46   47                           Schwarz Gruppe                  Retail
 47   48                         Mitsubishi Group            Conglomerate
 48   49                       Ford Motor Company              Automotive
 49   50                      Mercedes-Benz Group              Automotive

         Revenue       Profit Employees Headquarters[note 1] State-owned  \
    USD millions USD millions Employees Headquarters[note 1] State-owned
 0      $611,289      $11,680   2100000        United States         NaN
 1      $603,651     $159,069     70496         Saudi Arabia         NaN
 2      $530,009       $8,192    870287                China         NaN
 3      $513,983      −$2,722   1541000        United States         NaN
 4      $505,000      $15,000      1560          Switzerland         NaN
 5      $483,019      $21,080   1087049                China         NaN
 6      $471,154       $9,657    527487                China         NaN
 7      $413,680      $55,740     63000        United States         NaN
 8      $394,328      $99,803    164000        United States         NaN
 9      $386,201      $20,120     93000       United Kingdom         NaN
 10     $324,162      $20,120    400000        United States         NaN
 11     $322,467       $4,149    259500        United States         NaN
 12     $318,476       $6,994     12347            Singapore         NaN
 13     $305,885       $4,234    382492                China         NaN
 14     $302,089     −$22,819    383000        United States         NaN
 15     $293,685      $15,233    675805              Germany         NaN
 16     $288,309     −$19,961      7008              Germany         NaN
 17     $282,836      $59,972    190234        United States         NaN
 18     $276,711       $3,560     48000        United States         NaN
 19     $274,491      $18,110    375235                Japan         NaN
 20     $263,310      $20,526    101279               France         NaN
 21     $255,984      $17,320     81284          Switzerland         NaN
 22     $248,891      −$2,487     67600       United Kingdom         NaN
 23     $246,252      $35,465     43846        United States         NaN
 24     $238,587       $1,699     41500        United States         NaN
 25     $234,129      $42,398    270372          South Korea         NaN
 26     $226,954       $5,844    304000        United States         NaN
 27     $222,535       $4,751    767062               Taiwan         NaN
 28     $214,766      $53,589    427587                China         NaN
 29     $211,915      $73,307    221000        United States         NaN
 30     $202,753      $48,145    376682                China         NaN
 31     $188,888      $17,669    272367          Netherlands         NaN
 32     $187,061      $38,524    452258                China         NaN
 33     $181,566      $12,454    344223                China         NaN
 34     $181,364        −$933     46035        United States         NaN
 35     $180,516       $6,668     70231        United States         NaN
 36     $180,012      $14,516     17800        United States         NaN
 37     $175,702      $11,024     13000        United States         NaN
 38     $173,834          –$1    220760                China         NaN
 39     $171,669       $2,035    314792                China         NaN
 40     $171,189      $11,528      9743        United States         NaN
 41     $167,832      $17,641    468000               Russia         NaN
 42     $165,000          ...    155000        United States         NaN
 43     $164,762      $16,988     81775                China         NaN
 44     $163,037       $1,800    342098                China         NaN
 45     $161,698       $2,493    245675                China         NaN
 46     $159,800          ...    575000              Germany         NaN
 47     $159,371       $8,723     79706                Japan         NaN
 48     $158,057      −$1,981    173000        United States         NaN
 49     $157,403      $15,252    168797              Germany         NaN

                  Ref. Unnamed: 9_level_0
    Unnamed: 8_level_1 Revenue per worker
 0                 [1]        $291,090.00
 1                 [4]      $8,562,911.37
 2                 [5]        $609,004.85
 3                 [6]        $333,538.61
 4              [7][8]    $323,717,948.72
 5                 [9]        $444,339.68
 6                [10]        $893,204.95
 7                [11]      $6,566,349.21
 8                [12]      $2,404,439.02
 9                [13]      $4,152,698.92
 10               [14]        $810,405.00
 11               [15]      $1,242,647.40
 12               [16]     $25,793,796.06
 13               [17]        $799,716.07
 14               [18]        $788,744.13
 15               [19]        $434,570.62
 16               [20]     $41,139,982.88
 17               [21]      $1,486,779.44
 18               [22]      $5,764,812.50
 19               [23]        $731,517.58
 20               [24]      $2,599,847.94
 21               [25]      $3,149,254.47
 22               [26]      $3,681,819.53
 23               [27]      $5,616,293.39
 24               [28]      $5,749,084.34
 25               [29]        $865,951.36
 26               [30]        $746,559.21
 27               [31]        $290,113.45
 28               [32]        $502,274.39
 29               [33]        $897,149.32
 30               [34]        $538,260.39
 31               [35]        $693,505.45
 32               [36]        $413,615.68
 33               [37]        $527,466.21
 34               [38]      $3,939,698.06
 35               [39]      $2,570,317.95
 36               [40]     $10,113,033.71
 37               [41]     $13,515,538.46
 38               [42]        $787,434.32
 39               [43]        $545,341.05
 40               [44]     $17,570,460.84
 41               [45]        $358,615.38
 42               [46]      $1,064,516.13
 43               [47]      $2,014,821.16
 44               [48]        $476,579.81
 45               [49]        $658,178.49
 46               [50]        $277,913.04
 47               [51]      $1,999,485.61
 48               [52]        $913,624.28
 49               [53]        $932,498.80  ,
    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteExtreme wealth  \
 0                                            Concepts
 1   Capital accumulation Overaccumulation Economic...
 2                                              People
 3                                              Wealth
 4                                               Lists
 5                                              People
 6                                       Organizations
 7                                               Other
 8                                             Related
 9   Diseases of affluence Affluenza Acquired situa...
 10                                       Philanthropy
 11                                            Sayings
 12                                              Media
 13                                Category by country

    .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteExtreme wealth.1
 0   Capital accumulation Overaccumulation Economic...
 1   Capital accumulation Overaccumulation Economic...
 2   Billionaire Captain of industry High-net-worth...
 3   Concentration Distribution Dynastic Effect Geo...
 4   People Forbes list of billionaires List of cen...
 5   Forbes list of billionaires List of centibilli...
 6   Largest companies by revenue Largest corporate...
 7   Cities by number of billionaires Countries by ...
 8   Diseases of affluence Affluenza Acquired situa...
 9   Diseases of affluence Affluenza Acquired situa...
 10  Gospel of Wealth The Giving Pledge Philanthroc...
 11  The rich get richer and the poor get poorer So...
 12  Das Kapital Plutus Greek god of wealth Supercl...
 13                                Category by country                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           ,
                                                    0  \
 0  Capital accumulation Overaccumulation Economic...
 1                                             People
 2                                             Wealth

                                                    1
 0  Capital accumulation Overaccumulation Economic...
 1  Billionaire Captain of industry High-net-worth...
 2  Concentration Distribution Dynastic Effect Geo...  ,
                0                                                  1
 0         People  Forbes list of billionaires List of centibilli...
 1  Organizations  Largest companies by revenue Largest corporate...
 2          Other  Cities by number of billionaires Countries by ...,
                                                    0  \
 0  Diseases of affluence Affluenza Acquired situa...
 1                                       Philanthropy
 2                                            Sayings
 3                                              Media

                                                    1
 0  Diseases of affluence Affluenza Acquired situa...
 1  Gospel of Wealth The Giving Pledge Philanthroc...
 2  The rich get richer and the poor get poorer So...
 3  Das Kapital Plutus Greek god of wealth Supercl...  ]

In [6]:
list_of_dfs = pd.read_html(url)

In [10]:
list_of_dfs[1]

,Rank,Name,Industry,Revenue,Profit,Employees,Headquarters[note 1],State-owned,Ref.,Unnamed: 9_level_0
,Rank,Name,Industry,USD millions,USD millions,Employees,Headquarters[note 1],State-owned,Unnamed: 8_level_1,Revenue per worker
0,1,Walmart,Retail,"$611,289","$11,680",2100000,United States,NaN,[1],"$291,090.00"
1,2,Saudi Aramco,Oil and gas,"$603,651","$159,069",70496,Saudi Arabia,NaN,[4],"$8,562,911.37"
2,3,State Grid Corporation of China,Electricity,"$530,009","$8,192",870287,China,NaN,[5],"$609,004.85"
3,4,Amazon,Retail,"$513,983","−$2,722",1541000,United States,NaN,[6],"$333,538.61"
4,5,Vitol,Commodities,"$505,000","$15,000",1560,Switzerland,NaN,[7][8],"$323,717,948.72"
5,6,China National Petroleum Corporation,Oil and gas,"$483,019","$21,080",1087049,China,NaN,[9],"$444,339.68"
6,7,China Petrochemical Corporation,Oil and gas,"$471,154","$9,657",527487,China,NaN,[10],"$893,204.95"
7,8,ExxonMobil,Oil and gas,"$413,680","$55,740",63000,United States,NaN,[11],"$6,566,349.21"
8,9,Apple,Electronics,"$394,328","$99,803",164000,United States,NaN,[12],"$2,404,439.02"
9,10,Shell,Oil and gas,"$386,201","$20,120",93000,United Kingdom,NaN,[13],"$4,152,698.92"
10,11,UnitedHealth Group,Healthcare,"$324,162","$20,120",400000,United States,NaN,[14],"$810,405.00"
11,12,CVS Health,Healthcare,"$322,467","$4,149",259500,United States,NaN,[15],"$1,242,647.40"
12,13,Trafigura,Commodities,"$318,476","$6,994",12347,Singapore,NaN,[16],"$25,793,796.06"
13,14,China State Construction Engineering,Construction,"$305,885","$4,234",382492,China,NaN,[17],"$799,716.07"
14,15,Berkshire Hathaway,Financials,"$302,089","−$22,819",383000,United States,NaN,[18],"$788,744.13"
15,16,Volkswagen Group,Automotive,"$293,685","$15,233",675805,Germany,NaN,[19],"$434,570.62"
16,17,Uniper,Electricity,"$288,309","−$19,961",7008,Germany,NaN,[20],"$41,139,982.88"
17,18,Alphabet,Information technology,"$282,836","$59,972",190234,United States,NaN,[21],"$1,486,779.44"
18,19,McKesson,Healthcare,"$276,711","$3,560",48000,United States,NaN,[22],"$5,764,812.50"
19,20,Toyota,Automotive,"$274,491","$18,110",375235,Japan,NaN,[23],"$731,517.58"
20,21,TotalEnergies,Oil and gas,"$263,310","$20,526",101279,France,NaN,[24],"$2,599,847.94"
21,22,Glencore,Commodities,"$255,984","$17,320",81284,Switzerland,NaN,[25],"$3,149,254.47"
22,23,BP,Oil and gas,"$248,891","−$2,487",67600,United Kingdom,NaN,[26],"$3,681,819.53"
23,24,Chevron,Oil and gas,"$246,252","$35,465",43846,United States,NaN,[27],"$5,616,293.39"
24,25,AmerisourceBergen,Healthcare,"$238,587","$1,699",41500,United States,NaN,[28],"$5,749,084.34"
25,26,Samsung Electronics,Electronics,"$234,129","$42,398",270372,South Korea,NaN,[29],"$865,951.36"
26,27,Costco,Retail,"$226,954","$5,844",304000,United States,NaN,[30],"$746,559.21"
27,28,Foxconn,Electronics,"$222,535","$4,751",767062,Taiwan,NaN,[31],"$290,113.45"
28,29,Industrial and Commercial Bank of China,Financials,"$214,766","$53,589",427587,China,NaN,[32],"$502,274.39"
29,30,Microsoft,Information technology,"$211,915","$73,307",221000,United States,NaN,[33],"$897,149.32"
30,31,China Construction Bank,Financials,"$202,753","$48,145",376682,China,NaN,[34],"$538,260.39"
31,32,Stellantis,Automotive,"$188,888","$17,669",272367,Netherlands,NaN,[35],"$693,505.45"
32,33,Agricultural Bank of China,Financials,"$187,061","$38,524",452258,China,NaN,[36],"$413,615.68"
33,34,Ping An Insurance,Financials,"$181,566","$12,454",344223,China,NaN,[37],"$527,466.21"
34,35,Cardinal Health,Healthcare,"$181,364",−$933,46035,United States,NaN,[38],"$3,939,698.06"
35,36,Cigna,Healthcare,"$180,516","$6,668",70231,United States,NaN,[39],"$2,570,317.95"
36,37,Marathon Petroleum,Oil and gas,"$180,012","$14,516",17800,United States,NaN,[40],"$10,113,033.71"
37,38,Phillips 66,Oil and gas,"$175,702","$11,024",13000,United States,NaN,[41],"$13,515,538.46"
38,39,Sinochem,Chemicals,"$173,834",–$1,220760,China,NaN,[42],"$787,434.32"
39,40,China Railway Engineering Corporation,Construction,"$171,669","$2,035",314792,China,NaN,[43],"$545,341.05"
40,41,Valero Energy,Oil and gas,"$171,189","$11,528",9743,United States,NaN,[44],"$17,570,460.84"
41,42,Gazprom,Oil and gas,"$167,832","$17,641",468000,Russia,NaN,[45],"$358,615.38"
42,43,Cargill,Conglomerate,"$165,000",...,155000,United States,NaN,[46],"$1,064,516.13"
43,44,China National Offshore Oil Corporation,Oil and gas,"$164,762","$16,988",81775,China,NaN,[47],"$2,014,821.16"
44,45,China Railway Construction Corporation,Construction,"$163,037","$1,800",342098,China,NaN,[48],"$476,579.81"
45,46,Baowu,Steel,"$161,698","$2,493",245675,China,NaN,[49],"$658,178.49"
46,47,Schwarz Gruppe,Retail,"$159,800",...,575000,Germany,NaN,[50],"$277,913.04"
47,48,Mitsubishi Group,Conglomerate,"$159,371","$8,723",79706,Japan,NaN,[51],"$1,999,485.61"
48,49,Ford Motor Company,Automotive,"$158,057","−$1,981",173000,United States,NaN,[52],"$913,624.28"
49,50,Mercedes-Benz Group,Automotive,"$157,403","$15,252",168797,Germany,NaN,[53],"$932,498.80"

In [13]:
df.to_csv(r'C:\Users\OPEYEMI TOLULOPE\Pictures\Data Analyst Projects\Data Scraping\Largest companies revenue.csv', index = False)